<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Library Information Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <style>
      .jumbotron{
          padding: 2rem 1rem;
          margin-bottom: 2rem;
          background-color: #e9ecef;
          border-radius: 0.3rem;
      }
  </style>
  </head>
  <body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js" integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <nav class="navbar bg-body-tertiary">
       <div class="container-fluid justify-content-center align-items-center" style="background-color: blue">
           <span class="navbar-brand lb-1 h3 text-light">
               <img src="{% static 'logo.png'%}" alt="LOGO" height="50">
               City Library</span>
       </div>
     </nav>
   <ul class="nav nav-tabs justify-content-center">
     <li class="nav-item">
         {% if current_tab == 'home' %}
         <a class="nav-link active" aria-current="page" href="/">HOME</a>
         {% else %}
         <a class="nav-link" aria-current="page" href="/">HOME</a>
         {% endif %}
     </li>
     <li class="nav-item">
         {% if current_tab == 'readers' %}
         <a class="nav-link active" aria-current="page" href="/readers">READERS</a>
         {% else %}
         <a class="nav-link" aria-current="page" href="/readers">READERS</a>
         {% endif %}
     </li>
     <li class="nav-item">
         {% if current_tab == 'books' %}
         <a class="nav-link active" aria-current="page" href="/books">BOOKS</a>
         {% else %}
         <a class="nav-link" aria-current="page" href="/books">BOOKS</a>
         {% endif %}
     </Li>
     <li class="nav-item">
         {% if current_tab == 'my bag' %}
         <a class="nav-link active" aria-current="page" href="/my bag">MY BAG</a>
         {% else %}
         <a class="nav-link" aria-current="page" href="/my bag">MY BAG</a>
         {% endif %}
     </li>
     <li class="nav-item">
         {% if current_tab == 'returns' %}
         <a class="nav-link active" aria-current="page" href="/returns">RETURNS</a>
         {% else %}
         <a class="nav-link" aria-current="page" href="/returns">RETURNS</a>
         {% endif %}
     </li>
  </ul>
  </div>
  </nav>
    {% block main_content %}
    {% endblock %}
  </body>
</html>